version: "3"

services:
  zalo-lite:
    container_name: zalo-lite-crm
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      # Copy các biến từ file .env của bạn vào đây
      - NEXT_PUBLIC_SUPABASE_URL=https://giecjqcoelpuprzgrtsf.supabase.co
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpZWNqcWNvZWxwdXByemdydHNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2MzQ0MDgsImV4cCI6MjA4MDIxMDQwOH0.BbgeGSNmlAkdn4q9HlfF5nXkIE34NKzysFJWzKDYkPM
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpZWNqcWNvZWxwdXByemdydHNmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDYzNDQwOCwiZXhwIjoyMDgwMjEwNDA4fQ.TcgJCI22dmrs_T907ULBXeY4wJYvaLWP0Gxw0zitKVI

      # Timezone (quan trọng cho Zalo để hiển thị đúng giờ)
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      # [Tùy chọn] Nếu muốn lưu log hoặc file session ra ngoài VPS
      - ./logs:/app/logs
